<div class="row pt-3 pb-5">
  <div class="col-sm-8 order-md-2 mb-3">
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        ブックマークしたゲーム（<%= @bookmarks.count %>件）
      </div>
      <div class="card-body p-4">
        <%= render 'users/shared/bookmarks', bookmarks: @bookmarks %>
      </div>
    </div>
    <%= render 'myaccount/sp_menu' %>
  </div>
  <div class="col-sm-4 order-md-1">
    <%= render 'myaccount/sidebar' %>
  </div>
</div>