@import 'mixins';
@import 'variables';

$footer-height: 350px;
$footer-upper-section-height: 200px;
$footer-upper-section-height: 10px;
$theme-darker: rgb(79, 227, 241);
$black: rgb(40, 35, 35);
$theme-main: rgba(0, 0, 0, 0.867);

// #wrap {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   /* Negative indent footer by its height */
//   margin: 0 0 (-$footer-height) 0;
//   /* Pad bottom by footer height */
//   padding: 0 0 $footer-height 0;
// }



#footer {
  position: relative;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: $theme-darker;
  color: $white;
  overflow: hidden;
  height: 350px;

  .container {
    display: table;
    border-collapse: separate;
    border-spacing: 10px 5px;
    padding: 0 15px;
    margin: 0 30px;
    width: 93%;
    height: 100%;


    .footer-info{
      display: table-cell;
      table-layout: fixed;
      vertical-align: top;
      list-style: none; 
      padding: 0 15px;
      margin: 0 auto;
    }

    h3:before {
      font-family: "Font Awesome 5 Free";
      content: '\f19d';
      font-weight: 50;
      font-weight: 900;
      padding-right: 5px;
    }

    .col-sm-5 {
      vertical-align: top;
      display: table-cell;
    }

    h3 {
      margin: 20px 0 10px 0;
    }

    p {
      margin: 10px 0;
    }
  }


  p, h3 {
    color: $black;
  }

  a {
    color: #ffffff;
    text-overflow: ellipsis;

    &:hover, &:active {
      color: $theme-main;

      &.github {
        color: #000000;
      }

      &.twitter {
        color: #000000;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #footer {
    height: $footer-height;

    #upper-section {
      height: $footer-upper-section-height;
    }
  }
}

// FOOTER CONTACT FORM

.contact {
  text-align: right;
}
