input:focus, 
textarea:focus {
    outline: none;
}

.btn-edit {
    cursor: pointer;
}

a, 
a:visited, 
a:active {
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}

::selection {
  background: #ed327b;
  color: #fff;
}

::-moz-selection {
  background: #ed327b;
  color: #fff;
}

.edit-acount {
  text-align: center;
  font-size:100%;
  background:#fff;
  border-radius:6px;
  padding:20px;
  padding-top:30px;
  width:300px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-top {
  text-align:center;
  margin-top:5px;
  color:rgba(0,0,0,.3);
}

.form-edit {
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
}

.btn-edit {
  position:relative;
  width:100%;
  padding:20px;
  border-radius:6px;
  border:0;
  background:#f26964;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
}

h2 {
  text-align: center;
  font-size: 1.4em;
  font-weight:700;
  color:#ccc;
  margin-bottom:24px;
}


.action >.btn-edit {
  text-align: center;
  position:relative;
  width:100%;
  padding:20px;
  border-radius:6px;
  border:0;
  background:#f26964;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
}

.form-end {
  text-align: center;
  color: black;
}

input {
  width:100%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}

.btn-edit {
  position:relative;
  width:100%;
  padding:20px;
  border-radius:6px;
  border:0;
  background:#f26964;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
}

.btn-edit:active {
  top:3px;
  box-shadow:none;
}

.h1 {
  text-align:center;
  padding:20px;
  padding-top:35px;
  color:#777;
  cursor:pointer;
}
