.login {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    a, 
    a:visited, 
    a:active {
      display: block;
      margin: 15px 0;
      text-align: center;
      text-decoration: none;
    }
}

input:focus, 
textarea:focus {
    outline: none;
}

button {
    cursor: pointer;
}



a:hover {
  text-decoration: none;
}

::selection {
  background: #ed327b;
  color: #fff;
}

::-moz-selection {
  background: #ed327b;
  color: #fff;
}

.login {
  font-size:100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#btn-top {
  text-align:center;
  margin-top:5px;
  color:rgba(0,0,0,.3);
}

.login {
  background:#fff;
  border-radius:6px;
  padding:20px;
  padding-top:30px;
  width:300px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
}

.login-message {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.h1 {
  text-align: center;
  font-size: 1.4em;
  font-weight:700;
  color:#ccc;
  margin-bottom:24px;
}

.form-control {
  width:100%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}

.form-group >.btn-login {
  text-align: center;
  position:relative;
  width:100%;
  padding:20px;
  border-radius:6px;
  border:0;
  background:#f26964;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
}

.btn-top {
  text-align:center;
  margin-top:5px;
  color:rgba(0,0,0,.3);
}


.btn-top > a,a:visited {
  color:#fff;
  text-decoration:underline;
}

.btn-top > a:hover {
  text-decoration:none;
}

.login {
  background:rgb(19, 156, 206);
  border-radius:6px;
  padding:20px;
  padding-top:30px;
  width:300px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
}

.login-message {
  text-align:center;
  font-size:1.4em;
  font-weight:700;
  color:#ccc;
  margin-bottom:24px;
}

span {
  font-weight:200;
}

.login-message >.form-end {
  text-align: center;
  color: black;
}

.form-control {
  width:100%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}

.btn-login {
  position:relative;
  width:100%;
  padding:20px;
  border-radius:6px;
  border:0;
  background:#f26964;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
}

.btn-login:active {
  top:3px;
  box-shadow:none;
}

h6 {
  text-align:center;
  padding:20px;
  padding-top:35px;
  color:#777;
  cursor:pointer;
}

.social {
  display: none;
}

.tw {
  margin-top:15px;
  background:#3b5998;
  box-shadow:0px 3px 0px #2c416e;
}

.gh {
  background:#000000;
  box-shadow:0px 3px 0px #717678;
}

.google {
  background:#db4a39;
  box-shadow:0px 3px 0px #b93f31;
}

