.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-xs-11 .col-md-3 {
  justify-content: center;
  text-align: list-item;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}