<%= @user.name %> 様

下記のURLをクリックし、パスワードリセットを行ってください。

<p><%= link_to 'こちらのリンクからパスワード変更ページへ移動できます', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません</p>
<p>※このメールに身に覚えのない場合は削除してください。</p>