$body-bg: #FCFCFC;
$border: #DEE2E6;

$white: #fff;
$dark: #343A40;
$pink: #fff0f5;
$gray: #E8ECF1;
$light-gray: #F6F8FA;
$dark-gray: #aaa;
$blue: #1155D4;
$light-blue: #ADD8E6;
$shadow: #999;

$facebook: #4267B2;
$twitter: #2CA7E0;
$line: #00B300;
$youtube: #CC0000;
$google: #dd4b39;
$whatsapp: #39DA56;
$viadeo: #EE7252;
$vimeo: #46BAE9;
$pinterest: #DF0019;

.pb-5 {
  padding-bottom: 3rem !important;

  .col-md-4  {
    padding: 0 15px;
  }

  .mb-3 {
    margin-bottom: 1rem !important;
    position: relative;

    .card-header {
      margin-bottom: 0;
      background-color: rgba(0,0,0,0.03);
      border-bottom: 1px solid rgba(0,0,0,0.125);
    }
    
    .card {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,0.125);
      border-radius: 0.25rem;

      .card-header:first-child {
        border-radius: calc(0.25rem - 1px)
          calc(0.25rem - 1px) 0 0;
        }

        .card-body {
          -webkit-box-flex: 1;
          flex: 1 1 auto;
          padding: 1.40rem;
          text-align: center;

          .d-md-block {
            display: block !important;
          }
          
          .d-md-none{
            display: none !important;
          }

          .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
          }
        }

        .review_search {
          display: flex;
        }

        .form-control {
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        input, button, select, optgroup, textarea {
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
        }

        .fa, .fas .far {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          width: 300px;
        }
       
        .btn-danger {
          color: #fff;
          background-color: #dc3545;
          border-color: #dc3545;
        }

        .btn-re {
          display: inline-block;
          height: 38px;
          width: 100px;
          font-weight: 400;
          color: #212529;
          text-align: center;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-color: transparent;
          border: 1px solid transparent;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: 0.25rem;
          -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }
    }
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);
  }

  .p-4 {
    padding: 1.5rem !important;
  }

  .review-container {
    font-size: 14px;
    font-weight: 300;
    
    .user-icon {
      display: inline-block;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }
    
    img {
      max-width: 100%;
    }
    
    h1 {
      font-size: 28px;
      font-weight: bold;
    }
    
    h2 {
      padding: 5px 10px;
      border-radius: 8px;
      background-color: $gray;
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
    }
  
    h3 {
      padding-left: 10px;
      border-left: solid 4px $dark;
      font-size: 16px;
      font-weight: bold;
      line-height: 28px;
    }
  
    h4 {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
    }
  
    h5 {
      font-size: 10px;
    }
  }

  .reviews {	
    display: flex;	
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;	
    box-sizing: border-box;	
    box-shadow: 0 0 1.5px $shadow;
    
    .review-image {
      margin-right: 20px;
      width: 100px;
      height: 100px;
      
      img {
        min-width: 100px;
        max-width: 100%;
        vertical-align: top;
      }
    }
  }

  .reviewer {	
  
    .reviewer-image {
      display: inline-block;
      margin-right: 20px;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      // float: left;
      
      img {
        max-width: 100%;
        vertical-align: top;
      }
    }
  }
  
  .scrollable-menu {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
  }
  
  .carousel-indicators {
    & li {
      border-radius: 50%;
      margin: 1px 3px;
      height: 10px;;
      max-width: 10px;
    }
  }
  
  .carousel-item img {
    width: 100%;
  }
  
  @for $i from 0 through 2 {
    
    #img_field_#{$i} {
      padding: 5px 8px;
      border: solid 1px $border;
      text-align: center;
      position: relative;
      padding: 0;
      border-radius: 5px;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: $white;
      overflow: hidden;
      box-sizing: border-box;
      transition: 0.3s ease-out;
    
      &:hover {
        background-color: $gray;
        transition: 0.3s ease-out;
        opacity: 0.9;
      }
      
      i {
        font-size: 30px;
        color: $dark-gray;
        line-height: 150px;
        transition: 0.3s ease-out;
      }
    }
  }
  